<%# locals: (records:) %>

<div class='card'>
  <div class='card-header'>
    <h6>List</h6>
  </div>
  <div class='card-body'>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">CPF</th>
          <th scope="col">Birthday</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <% records.each do |record| %>
          <tr>
            <th scope="row"><%= record.id %></th>
            <td><%= record.name %></td>
            <td><%= record.cpf %></td>
            <td><%= record.birthday %></td>
            <td><%= link_to 'View', proponent_path(record) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='card-footer'>
    <%= render 'shared/pagination', records:, path: proponents_path %>
  </div>
</div>
