<%# locals: (record:, disabled: false, edit: false) %>

<%= form_for(record) do |form| %>
  <%= form.hidden_field :tax_table_id, value: 1  %>

  <div class='row'>
    <div class="col col-6">
      <%= form.label 'Name', class: 'form-label' %>
      <%= form.text_field :name, class: "form-control #{'is-invalid' if record.errors.has_key? :name }", disabled: %>

      <div class="invalid-feedback"> <%= record.errors[:name].first %> </div>
    </div>
    <div class="col col-3">
      <%= form.label 'CPF', class: 'form-label' %>
      <%= form.text_field :cpf, class: "form-control #{'is-invalid' if record.errors.has_key? :cpf }", disabled: %>

      <div class="invalid-feedback"> <%= record.errors[:cpf].first %> </div>
    </div>
    <div class="col col-3">
      <%= form.label 'Birthday', class: 'form-label' %>
      <%= form.date_field :birthday, class: "form-control #{'is-invalid' if record.errors.has_key? :birthday }", disabled: %>

      <div class="invalid-feedback"> <%= record.errors[:birthday].first %> </div>
    </div>
    <div class="col col-3">
      <% if edit %>
        <%= form.label 'Salary', class: 'form-label' %>
        <%= form.text_field :salary,
          class: "form-control #{'is-invalid' if record.errors.has_key? :salary }",
          disabled: %>

        <div class="invalid-feedback"> <%= record.errors[:salary].first %> </div>
      <% else %>
        <div data-controller="calculate-tax" data-calculate-tax-url-value="<%= calculate_tax_path %>">
          <%= form.label 'Salary', class: 'form-label' %>
          <%= form.text_field :salary,
            class: "form-control #{'is-invalid' if record.errors.has_key? :salary }",
            data: { calculate_tax_target: :salary, action: "keyup->calculate-tax#calculate" },
            disabled: %>

          <div class="invalid-feedback"> <%= record.errors[:salary].first %> </div>
        </div>
      <% end %>
    </div>

    <div class="col col-3">
      <% unless edit %>
        <%= form.label 'Tax', class: 'form-label' %>
        <%= form.text_field :tax,
          class: "form-control #{'is-invalid' if record.errors.has_key? :tax }",
          readonly: true,
          disabled: %>

        <div class="invalid-feedback"> <%= record.errors[:tax].first %> </div>
      <% end %>
    </div>
  </div>
<% end %>
