<div class='row my-3'>
  <h1>Proponents</h1>
</div>

<div class='row'>
  <div class='col col-sm-12'>
    <div class='card'>
      <div class='card-header'>
        <h6>Show</h6>
      </div>
      <div class='card-body'>
        <%= render 'proponents/form', record: @proponent, disabled: true %>
      </div>
      <div class='card-footer d-flex justify-content-between'>
        <%= link_to 'Back to list', proponents_path, class: 'btn btn-primary btn-sm' %>
        <button type="submit" class="btn btn-primary btn-sm">Edit</button>
      </div>
    </div>
  </div>
</div>

<div class='row mt-3'>
  <div class='col col-sm-12'>
    <%= turbo_frame_tag :address do %>
      <% if @proponent.address %>
        <%= turbo_frame_tag :address, src: proponent_address_path(@proponent) %>
      <% else %>
        <div class='card'>
          <div class='card-header d-flex justify-content-between'>
            <h6>Address</h6>
            <%= link_to 'New', new_proponent_address_path(@proponent), class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
